.app-frame{
  min-height: 100%;
}
a{
  user-select: none;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.main-container {
  max-height: 35px;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline-animation:hover::after {
  width: 100%;
  left: 0;
}

.mat-toolbar {
  background-color: rgba(0, 55, 77, 0.9); /* Replace with your custom color code */
}

.in-light-mode {
  color: white;
}

.logo-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: auto; /* Pushes the links to the right */
  margin-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  //position: relative;
}

.authenticator {
  font-size: 15px;
  margin-left: 10px;
}

.profile {
  margin-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

.nav-link:hover::after {
  left: 0;
  width: 100%;
}

mat-slide-toggle {
  margin-left: 15px;
}
