.main-content {
  height: 100%;
  width: 80%;
  margin: 70px auto auto auto;
  align-items: center;
}

.user-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.row-heading {
  width: 25%;
  text-align: center;
}

.section-heading{
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  user-select: none;
}
