<div class="main-content">
  <div class="centered-div">
    <hr class="white-line top-bottom">
    <div class="description">
      <h2><b>Olymp Gym</b></h2>
      <div class="bottom"></div>
      <hr class="white-line between-paragraphs">
      <p><b>Welcome to Olymp Gym, where strength meets endurance and every workout is a step toward greatness. Nestled in the heart of Pazardzhik, Olymp Gym is more than just a fitness center; it's a community dedicated to empowering individuals to reach their peak physical potential.</b></p>
      <hr class="white-line between-paragraphs">
      <p><b>Our state-of-the-art facility boasts cutting-edge equipment, expert trainers, and a dynamic atmosphere that inspires motivation. Whether you're a seasoned athlete or a beginner taking the first steps on your fitness journey, Olymp Gym provides a supportive environment for everyone.</b></p>
      <hr class="white-line between-paragraphs">
      <p><b>Immerse yourself in a variety of fitness programs tailored to challenge and invigorate. From high-intensity group classes to personalized training sessions, our offerings cater to diverse fitness goals. Our team of experienced trainers is committed to guiding you through effective workouts and providing the encouragement you need to surpass your limits.</b></p>
      <hr class="white-line between-paragraphs">
      <p><b>At Olymp Gym, we understand that wellness extends beyond the gym floor. Our facilities include relaxing spa amenities, nutrition counseling, and recovery services, ensuring a holistic approach to your overall well-being. You're not just a member; you're a valued part of our fitness family.</b></p>
      <hr class="white-line between-paragraphs">
      <p><b>Join Olymp Gym and embrace a lifestyle of strength, resilience, and achievement. Unleash the Olympian within you and embark on a transformative fitness journey with us. Your goals are our mission, and together, we'll conquer new heights of health and vitality at Olymp Gym.</b></p>
      <hr class="white-line between-paragraphs">
      <mat-icon class="address-icon">location_on</mat-icon>
      <p><b>Address: ul. "Gradski Pazar" 4, 4400 Pazardzhik Center, Pazardzhik</b></p>
    </div>
    <hr class="white-line top-bottom">
  </div>
</div>
