.gallery .section-heading{
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  user-select: none;
}

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #00141c;
}

.drop-zone {
  background: rgba(166, 166, 166, 0.5);
  padding: 20px;
}
